body{
background-color: #f8f8f8;
;margin-left: 20px;
}
.menu a{
    font-family: cursive;
    font-size: 20px;
    color: cornflowerblue;
    list-style-type: none;
}    
.title_h1{
    color: darkslateblue;
    font-size: 30px;
    font-weight: 600;
    background-color: #eaeaea
}


.title_h3{
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea
}

.img_size{
    width: 250px;
    border: 1px solid black;
}
.image_border{
    border: 1px solid black;
}
.description_1{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    margin-left: 20px;
}
.description_2{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-left: 20px;
    
}
.description_3{
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    color:#888;
    list-style-image: url("catalog/arrow.jpg");
    margin-left: 20px;
}
.description_3 span {
    color:#272727
}


.input_field, input, select, textarea, button{
    font-family: sans-serif;
    color: black;
    font-size: 22px;
    margin-left: 30px;
    
}
.input_field input {
    color: darkblue;
    margin-left: 10px;
    width: 350px;
}

.input_field button {
    margin-left: 0px;
}
.input_field select {
    font-size: 20px;
/*    color: darkred;*/
    margin-left: 10px;
    width: 210px;
}

option[value="1"]{
    color: red;
}
option[value="2"]{
    color: cornflowerblue;
}
option[value="3"]{
    color: goldenrod;
}
option[value="4"]{
    color: yellowgreen;
}

.input_field textarea {
    color: darkblue;
    width: 400px;
    height: 200px;
    margin-left: 0px;
}

