body{
background-color: #f8f8f8;
;margin-left: 20px;
}

.conteiner{
    width: 1200px;
    margin: 0 auto;
    
}
.block_header{
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    height: 100px;
    border-bottom: 2px solid black;
    
}

.block_logo{
    display: block;
    height:100px;
    width: 80px;
    margin-left: 10px;
   
}
.block_menu{
    margin-right: 30px;
}
.menu{  
    display: flex;
    list-style-type: none;
    font-family: cursive;
    font-size: 30px;
    line-height: 50px;
}    
.menu-link{
    border: 1px solid darkblue;
    border-radius: 10%;
    color: cornflowerblue;
    text-decoration: none;
    margin-left: 20px;
    line-height: 30px;
}
.menu-link:hover{
    color: red;
    background-color: aliceblue;
}

.block_footer{
    display: flex;
    height: 50px;
    background-color: #eee;
    border-top: 2px solid black;
    position: relative;
}
.block_footer_copy{
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 24px;
    
}
.title_h1{
    color: darkslateblue;
    font-size: 30px;
    font-weight: 600;
    background-color: #eaeaea
}


.title_h3{
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea
}
.block_catalog{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.img_catalog{
    width: 250px;
    border: 1px solid black;
}
.img_catalog:hover{
    border: 1px solid transparent;
}


.img_product{
    width: 250px;
    border: 1px solid black;
}
.img_product:hover{
    border: 1px solid transparent;
}

.block_description_1{
   display: flex;
}
.block_description_1_img{
}
.block_description_1_text{
    margin-left: 20px;
    position: relative;
}
.button_buy{
    width: 200px;
    height: 40px;
    border: 1px solid black;
    background-color: #ff7d06;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    color: white;
    position: absolute;
    bottom: 5px;
}
.button_buy:hover{
    background-color: red;
    
}
.block_description_2{
    clear: both;
   
}
.block_description_3{
}
.description_1{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.description_1 span {
    color:#272727
}
.description_2{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-left: 20px;
    
}
.description_3{
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    color:#888;
    list-style-image: url("catalog/arrow.jpg");
}
.description_3 span {
    color:#272727
}


.input_field, input, select, textarea, button{
    font-family: sans-serif;
    color: black;
    font-size: 22px;
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 10px;
}
.input_field{
    border: 0px solid black;
}

.input_field_input{
    
    color: darkblue;
    width: 400px;
    text-transform: capitalize;
}
.input_field_input:focus{
    background: #eee;
    border: 2px solid #29B0D9;
}

.input_field_button {
    margin-left: 0px;
}
.input_field_select {
    font-size: 22px;
    width: 405px;
}
.input_field_textarea {
    color: darkblue;
    width: 400px;
    height: 200px;
    margin-left: 0px;
    text-transform: capitalize;
}

.input_field_textarea:focus{
    background: #eee;
    border: 2px solid #29B0D9;
}

.map{
    width: auto;
    height: 374px;
    border: 1px solid black;
}
option[value="1"]{
    color: red;
}
option[value="2"]{
    color: cornflowerblue;
}
option[value="3"]{
    color: goldenrod;
}
option[value="4"]{
    color: darkgreen;
}

table{
    width: 200px;
    height: 100px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: 30px;
    font-size: 24px;
    
}
.font_color_red{
    color: red;
}
.text_align_left{
    text-align: left;
    padding: 5px;
}
td{
    border: 1px solid black;
}
